extends layout

block content
	input(type='button',value='Get Location',id='locate')
	div(id='location')="No information available"

	select#buses

	div#timer
		span= "Alert me in"
		input#time(type='text')
		span= "minutes"
	
	input#submit(type='submit',value="Submit",disabled)

	input#test(type='button',value='Test Event')